
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

body{
    background-image: url("/images/lollipopspieni.png");
    background-repeat: repeat;
    font-family: 'Quattrocento Sans', sans-serif;

}
.container {
    background-color: white !important;
}
.card {
    display: inline-block;
    border-style: none;
}
.carousel {
    height:500px;
}
    
.carousel-item img {
    height:500px;
    object-fit: contain;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }
  

.fa-shopping-cart {
    color: black;
}

.footer {
    background-color: #FBD8DB !important;
}