
body{
    background-image: url("/images/cakeballs.jpg");
}
.container {
    background-color: white !important;
    max-width: 80%;
}
.card {
    display: inline-block;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }